body {
    background-image: url("images/background_page6.png");
    background-repeat: no-repeat;
    background-size: cover; /* Asegura que la imagen de fondo cubra toda la página */
    background-attachment: fixed; /* Fija la imagen de fondo */
    margin: 0;
    padding: 0;
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

main {
    padding-bottom: 60px; /* Espacio adicional para asegurarse de que el margen inferior sea visible */
}

.navigation ul li {
    display:inline-block;
    padding-left: 56px;
    padding-right: 56px;
    font-size: 25px;
    font-weight: 800;
    font-family: "Inter";
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

.navigation ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; /* Ajusta según el espacio deseado entre el texto y la línea */
    height: 2px; /* Ajusta el grosor de la línea */
    background-color: #FA20F2; /* Cambia este color según tus necesidades */
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.navigation ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom right;
}

.navigation-container {
    margin: auto;
}

.header-container {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    display: flex; /* Habilita el uso de flexbox */
    justify-content:flex-start; /* Distribuye los hijos con espacio entre ellos */
    width: 100%;
    padding: 10px;
    z-index: 1000; /*asegura que el header esta por encima del contenido*/
}

.search-bar {
    position: relative;
    top: 20px; 
}

h2 {
    font-weight: 800;
    font-family: "Inter";
    font-size: 70px;
}

.virtual-assistant-container {
    position: absolute;
    bottom: 30px; /* Coloca la imagen al fondo */
    left: 50px; /* Coloca la imagen a la izquierda */
}

/*SIGN UP----------------------------------------------------------------------------*/
.signup-container {
    width: 623px;
    height: 730px;
    color: #FFFFFF;
    background: rgb(217, 217, 217, 0.18);
    margin-left: 157px;
    margin-top: 50px;
    border-radius: 82px 82px 82px 82px;
}

.signup-container h2 {
    text-align: center;
    padding-top: 20px;
}

.signup-container p {
    font-weight: 800;
    font-family: "Inter";
    padding-left: 40px;
    font-size: 30px;
}

.signup-container p span{
    color: #FA20F2;
    text-decoration: underline;
    margin-left: 30px;
}

.number-box {
    display: inline-block;
    margin-left: 70px;
}

.number-box input {
    border-radius: 20px 20px 20px 20px;
    width: 99px;
    height: 97px;
    background: rgb(217, 217, 217, 0.45);
    margin-right: 20px;
    border: none;
    font-size: 60px;
    text-align: center;
}

.button-container {
    padding-top: 200px;
    text-align: center;
    padding-bottom: 50px;
}

.button-container input {
    width: 543px;
    height: 70px;
    border-radius: 167px 167px 167px 167px;
    font-weight: 800;
    font-family: "Inter";
    font-size: 30px;
    color: #AC71DB;
}

/*chat-virtual-assistant-container-----------------------------------------------------------------------*/

.chat-virtual-assistant-container {
    color: #FFFFFF;
    font-weight: 800;
    font-family: "Inter";
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 822px;
    background: rgb(255, 255, 255, 0.55);
    border-radius: 30px 30px 30px 30px;
    margin: 60px auto 60px auto;
}

.message {
    width: 461px;
    padding: 39px 44px;
    border-radius: 30px 30px 30px 30px;
    margin-top: 41px;
    margin-bottom: 41px;
    word-wrap: break-word;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra a la izquierda y abajo */
}

.left {
    background-color: #f0f0f0;
    align-self: flex-start;
    background: #EFC7F1;
    margin-left: 26px;
}

.right {
    background-color: #e0f0f0;
    align-self: flex-end;
    background: #D9D9D9;
    border: 2px solid #EFC7F1;
    margin-right: 26px;
}

/*topics-container------------------------------------------------------------------------------------------*/

.topics-container h2{
    color: #FFFFFF;
    margin-left: 90px;
}

.topic {
    background: rgb(217, 217, 217, 0.52);
    width: 382px;
    height: 378px;
    padding: 15px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #EFC7F1;
}

.topic img {
    margin: auto;
}

.title-topics-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.title-topic {
    font-weight: 800;
    font-family: "Inter";
    font-size: 30px;
    color: #FFFFFF;
}

.title-topic p{
    margin-top: 2px;
    margin-bottom: 2px;
}

.icon-title-topic-container {
    padding-top: 5px;
    margin-bottom: 5px;
}

.icon-title-topic {
    padding-bottom: 5px;
}

.icon-title-topic-container p{
    font-weight: 800;
    font-family: "Inter";
    font-size: 25px;
    color: #9E3BB7;
    margin-top: 5px;

}

/*.topics-content {
    display: flex;
    flex-wrap: wrap;
}*/

.row1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.row2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}


.nosotrosPage {
    margin: 0; 
    padding: 0; 
    background-image: url("images/background_nosotros.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}

.navigation ul li {
    display:inline-block;
    padding-left: 56px;
    padding-right: 56px;
    font-size: 25px;
    font-weight: 800;
    font-family: "Inter";
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

.navigation ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; /* Ajusta según el espacio deseado entre el texto y la línea */
    height: 2px; /* Ajusta el grosor de la línea */
    background-color: #FA20F2; /* Cambia este color según tus necesidades */
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.navigation ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom right;
}

.navigation-container {
    margin: auto;
}

.header-container {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    display: flex; /* Habilita el uso de flexbox */
    justify-content:flex-start; /* Distribuye los hijos con espacio entre ellos */
    width: 100%;
    padding: 10px;
    z-index: 1000; /*asegura que el header esta por encima del contenido*/
}

.search-bar {
    position: relative;
    top: 20px; 
}

h2 {
    font-weight: 800;
    font-family: "Inter";
    font-size: 70px;
}

.content-container {
    display: flex;
    align-items: center; 
    padding: 20px; 
}

.acerca {
    max-width: 50%; 
    margin-left: 100px;
    margin-right: 20px; 
    font-size: 65px;
    font-weight: 800;
    font-family: "Inter";
    color: #FFFFFF;
}

.acerca span {
    font-style: italic;
    color: #EFC7F1;
}

.imagen-contenedor {
    max-width: 50%; 
    overflow: hidden;
    border-radius: 39px; 
    margin-left: auto;
    margin-right: 100px;
}

.astronauta {
    width: 503px; 
    height: auto; 
    display: block;
}

.virtual-assistant-container {
    position: absolute;
    bottom: 30px; 
    left: 50px; 
}

.association {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 600px;
    margin-left: 115px;
    margin-right: auto;
    background-color: rgba(247, 239, 239, 0.3);
    border-radius: 30px;
}

.association .logo {
    margin: 5px;
}

#hero {
    display: flex;
    align-items: flex-start; /* Alinea el contenido del héroe hacia arriba */
    padding: 8rem 2rem 4rem 2rem; /* Ajusta el relleno para subir más el contenido */
    min-height: calc(100vh - 7rem); /* Resta el alto de la barra de navegación */
}

.hero_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    width: 100%; /* Permite que el contenedor ocupe todo el ancho disponible */
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenedor */
    justify-content: flex-start; /* Alinea el contenedor hacia la izquierda */
}

.hero_content {
    max-width: 100%; /* Permite que el contenido ocupe todo el ancho del contenedor */
}

.hero-title {
    color: #687690;
    font-size: 3rem; /* Ajusta el tamaño de la fuente del título */
    margin-bottom: 1rem;
}

.hero-heading {
    font-size: 6rem;
    line-height: 6.5rem; /* Ajusta la altura de línea para un mejor espaciado */
    margin-bottom: 1rem;
    max-width: 100%; /* Permite que el encabezado ocupe todo el ancho del contenedor */
    margin-left: 0; /* Elimina margen a la izquierda */
    margin-right: 0; /* Elimina margen a la derecha */
    font-weight: 800;
    color: #EFC7F1;
    font-family: "Inter";
}

.paragraph {
    line-height: 2.5rem; /* Ajusta la altura de línea para un mejor espaciado */
    margin-bottom: 2rem;
    max-width: 100%; /* Permite que el párrafo ocupe todo el ancho del contenedor */
    margin-left: 0; /* Elimina margen a la izquierda */
    margin-right: 0; /* Elimina margen a la derecha */
    font-size: 40px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
}



.astronexus {
    margin-top: -90px;
    margin-left: 100px;
    width: 250px; /* Establece el ancho deseado para el contenedor */
    height: 250px; /* Establece la altura deseada para el contenedor */
    border-radius: 50%; /* Hace que el contenedor tenga bordes circulares */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se extienda más allá del contenedor circular */
}

.astronexus img {
    width: 100%; /* Ajusta el ancho de la imagen para que se ajuste al contenedor circular */
    height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
    object-fit: cover; /* Mantiene la relación de aspecto y recorta la imagen para que quepa en el círculo */
    margin-top: -10px; /* Mueve la imagen hacia arriba dentro del contenedor */
}
b{
    color:#EFC7F1;
}
.virtual-assistant-container {
    position: absolute;
    bottom: 30px; /* Coloca la imagen al fondo */
    left: 50px; /* Coloca la imagen a la izquierda */
}



.navigation ul li {
    display:inline-block;
    padding-left: 56px;
    padding-right: 56px;
    font-size: 25px;
    font-weight: 800;
    font-family: "Inter";
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

.navigation ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; /* Ajusta según el espacio deseado entre el texto y la línea */
    height: 2px; /* Ajusta el grosor de la línea */
    background-color: #FA20F2; /* Cambia este color según tus necesidades */
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.navigation ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom right;
}

.navigation-container {
    margin: auto;
}

.header-container {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    display: flex; /* Habilita el uso de flexbox */
    justify-content:flex-start; /* Distribuye los hijos con espacio entre ellos */
    width: 100%;
    padding: 10px;
    z-index: 1000; /*asegura que el header esta por encima del contenido*/
}

.search-bar {
    position: relative;
    top: 20px;  
}

.header-container {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    display: flex; /* Habilita el uso de flexbox */
    justify-content:flex-start; /* Distribuye los hijos con espacio entre ellos */
    width: 100%;
    padding: 10px;
    z-index: 1000; /*asegura que el header esta por encima del contenido*/
}


#hero {
    display: flex;
    align-items: flex-start; /* Alinea el contenido del  héroe hacia arriba */
    padding: 8rem 2rem 4rem 2rem; /* Ajusta el relleno para subir más el contenido */
    min-height: calc(100vh - 7rem); /* Resta el alto de la barra de navegación */
}

.hero_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    width: calc(100% - 4rem); /* Reduzco el ancho total para moverlo más a la izquierda */
    max-width: 1200px;
    margin: 0;
    justify-content: flex-start; /* Alinea el contenedor hacia la izquierda */
}


.hero_content {
    max-width: 500px;
}

.hero-title {
    color: #687690;
    font-size: 3rem; /* Ajusta el tamaño de la fuente del título */
    margin-bottom: 1rem;
}

.hero-heading {
    font-size: 6rem; /* Aumenta el tamaño de la fuente del encabezado */
    line-height: 6.5rem; /* Ajusta la altura de línea para un mejor espaciado */
    margin-bottom: 1rem;
    color: #EFC7F1;
}



.astronexus {
    margin-top: -90px;
    width: 250px; /* Establece el ancho deseado para el contenedor */
    height: 250px; /* Establece la altura deseada para el contenedor */
    border-radius: 50%; /* Hace que el contenedor tenga bordes circulares */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se extienda más allá del contenedor circular */
}

.astronexus img {
    width: 100%; /* Ajusta el ancho de la imagen para que se ajuste al contenedor circular */
    height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
    object-fit: cover; /* Mantiene la relación de aspecto y recorta la imagen para que quepa en el círculo */
    margin-top: -10px; /* Mueve la imagen hacia arriba dentro del contenedor */
}
b{
    color:#EFC7F1;
}
.virtual-assistant-container {
    position: absolute;
    bottom: 30px; /* Coloca la imagen al fondo */
    left: 50px; /* Coloca la imagen a la izquierda */
}


/* Estilo para el contenedor de los cursos */
.courses-container h1 {
    color: #FFFFFF;
    margin-left: 90px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 70px;
    font-weight: 800;
    font-family: "Inter";
}

/* Contenedor para las tarjetas de cursos */
.courses-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 90px;
}

/* Estilo para las tarjetas de los cursos */
.card-curso {
    background: rgba(217, 217, 217, 0.52);
    width: 380px;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid #EFC7F1;
    margin: 20px;
    text-align: center;
}

.card-curso img {
    width: 100%;
    border-radius: 20px;
}


.course-details h3, .course-details p {
    font-size: 30px;
    font-weight: 800;
    font-family: "Inter";
    text-align: left ;
    color: #FFFFFF;
    margin: 5px 0;
}

.course-details h3 {
    color: #EFC7F1;
    
}


.card-curso:hover {
    transform: translateY(-10px); /* Desplaza la tarjeta hacia arriba */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Añade una sombra para mayor efecto */
}

/* Login Styles */
.login-container {
    width: 623px;
    height: 730px;
    color: #FFFFFF;
    background: rgba(217, 217, 217, 0.18);
    margin: 50px 0 50px 250px;
    border-radius: 82px;
    padding: 30px;
    text-align: center;
}

.login-container h2 {
    text-align: center;
    font-size: 70px;
    font-family: "Inter";
    font-weight: 800;
}

.login-container label {
    display: block;
    text-align: left;
    font-weight: 800;
    font-size: 30px;
    padding-left: 40px;
    font-family: "Inter";
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin: 10px 40px;
    border: none;
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.45);
    font-size: 20px;
    text-align: center;
}

.login-container a {
    color: #FA20F2;
    text-decoration: underline;
    margin: 10px;
    font-size: 30px;
    font-family: "Inter";
}

.remember-me {
    text-align: left;
    padding-left: 40px;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.remember-me input[type="checkbox"] {
    transform: scale(1.5); /* Escala el checkbox a 1.5 veces su tamaño original */

    margin-right: 0.5rem; /* Espacio entre el checkbox y la etiqueta */
}
.remember-me input[type="checkbox"] {
    transform: scale(1.5); /* Escala el checkbox a 1.5 veces su tamaño original */
    margin-right: 0.5rem; /* Espacio entre el checkbox y la etiqueta */
}




.login-container input[type="submit"] {
    width: calc(100% - 80px);
    height: 70px;
    border-radius: 167px;
    font-weight: 800;
    font-size: 30px;
    color: #FFFFFF;
    background: #FA20F2;
    border: none;
    margin: 20px 40px;
    cursor: pointer;
    font-family: "Inter"
}

.login-container p {
    font-weight: 800;
    font-size: 30px;
    padding-left: 40px;
}

.login-container p a {
    color: #FA20F2;
    text-decoration: underline;
    font-family: "Inter";
}